@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

body {
  font-family: Roboto, mono;
  color: #ffffff;
  background-color: #1c1c1b;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

pre {
  background-color: #121110;
  padding: 1em;
  border-radius: 5px;
  overflow-x: auto;
}

blockquote {
  border-left: 3px solid #ffffff;
  padding-left: 1em;
  margin-left: 0;
  color: #ffffff;
}

li {
  margin-bottom: 0.5em;
}
